In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [3]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     -------------------------------------- 250.0/250.0 KB 1.7 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the 'C:\Users\mannp\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [13]:
Order=pd.read_excel("LHS\Company X - Order Report.xlsx")
invoice=pd.read_excel("RHS\Courier Company - Invoice.xlsx")
sku=pd.read_excel("LHS/Company X - SKU Master.xlsx")
X_post=pd.read_excel("LHS/Company X - Pincode ZOISP.xlsx")

In [23]:
Order.rename(columns = {'ExternOrderNo':'Order ID'}, inplace = True)

In [20]:
X_post

     Warehouse Pincode  Customer Pincode Zone
0               121003            507101    d
1               121003            486886    d
2               121003            532484    d
3               121003            143001    b
4               121003            515591    d
..                 ...               ...  ...
119             121003            325207    b
120             121003            303702    b
121             121003            313301    b
122             121003            173212    e
123             121003            302020    b

[124 rows x 3 columns]

In [19]:
sku

              SKU  Weight (g)
0   8904223815682         210
1   8904223815859         165
2   8904223815866         113
3   8904223815873          65
4   8904223816214         120
..            ...         ...
61  8904223819505         210
62  8904223819499         210
63  8904223819512         210
64  8904223819543         300
65     SACHETS001          10

[66 rows x 2 columns]

In [16]:
invoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [24]:
Order

       Order ID            SKU  Order Qty
0    2001827036  8904223818706        1.0
1    2001827036  8904223819093        1.0
2    2001827036  8904223819109        1.0
3    2001827036  8904223818430        1.0
4    2001827036  8904223819277        1.0
..          ...            ...        ...
395  2001806229  8904223818942        1.0
396  2001806229  8904223818850        1.0
397  2001806226  8904223818850        2.0
398  2001806210  8904223816214        1.0
399  2001806210  8904223818874        1.0

[400 rows x 3 columns]

In [28]:
OI=pd.merge(Order,invoice,on="Order ID",how="right")
OIS=pd.merge(OI,sku,on="SKU",how="left")
OISP=pd.merge(OIS,X_post,how="inner",on="Customer Pincode")

In [29]:
OI

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,2001806232,8904223818645,6.0,1091117222124,1.3,121003,507101,d,Forward charges,135.0
1,2001806232,8904223819147,2.0,1091117222124,1.3,121003,507101,d,Forward charges,135.0
2,2001806273,8904223819017,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2
3,2001806273,8904223818706,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2
4,2001806273,8904223818942,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2
...,...,...,...,...,...,...,...,...,...,...
395,2001811475,8904223819031,1.0,1091121844806,0.5,121003,173212,b,Forward charges,33.0
396,2001811305,8904223816214,1.0,1091121846136,0.5,121003,302020,d,Forward charges,45.4
397,2001811305,8904223819499,1.0,1091121846136,0.5,121003,302020,d,Forward charges,45.4
398,2001811305,8904223819505,1.0,1091121846136,0.5,121003,302020,d,Forward charges,45.4
399,2001811305,8904223819512,1.0,1091121846136,0.5,121003,302020,d,Forward charges,45.4

In [26]:
OIS

,Order ID,SKU,Order Qty,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight (g)
0,2001806232,8904223818645,6.0,1091117222124,1.3,121003,507101,d,Forward charges,135.0,137
1,2001806232,8904223819147,2.0,1091117222124,1.3,121003,507101,d,Forward charges,135.0,240
2,2001806273,8904223819017,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2,115
3,2001806273,8904223818706,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2,127
4,2001806273,8904223818942,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2,133
...,...,...,...,...,...,...,...,...,...,...,...
396,2001811475,8904223819031,1.0,1091121844806,0.5,121003,173212,b,Forward charges,33.0,112
397,2001811305,8904223816214,1.0,1091121846136,0.5,121003,302020,d,Forward charges,45.4,120
398,2001811305,8904223819499,1.0,1091121846136,0.5,121003,302020,d,Forward charges,45.4,210
399,2001811305,8904223819505,1.0,1091121846136,0.5,121003,302020,d,Forward charges,45.4,210
400,2001811305,8904223819512,1.0,1091121846136,0.5,121003,302020,d,Forward charges,45.4,210

In [31]:
OISP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Order ID              567 non-null    int64
 1   SKU                   567 non-null    object
 2   Order Qty             567 non-null    float64
 3   AWB Code              567 non-null    int64
 4   Charged Weight        567 non-null    float64
 5   Warehouse Pincode_x   567 non-null    int64
 6   Customer Pincode      567 non-null    int64
 7   Zone_x                567 non-null    object
 8   Type of Shipment      567 non-null    object
 9   Billing Amount (Rs.)  567 non-null    float64
 10  Weight (g)            567 non-null    int64
 11  Warehouse Pincode_y   567 non-null    int64
 12  Zone_y                567 non-null    object
dtypes: float64(3), int64(6), object(4)
memory usage: 57.7+ KB

In [37]:
OISP.rename(columns={"Charged Weight":"Charged_Weight","Warehouse Pincode_x":"Company_Warehouse_Pincode",
                     "Customer Pincode":"Company_Customer_Pincode","Zone_x":"Company_Zone",
                     "Warehouse Pincode_y":"X_Warehouse_Pincode","Zone_y":"X_Zone","Weight (g)":"Weight_(g)"},inplace=True)
OISP.rename(columns={"Company_Zone":"Delivery_Zone_charged_by_Courier_Company","X_Zone":"Delivery_Zone_as_per_X"},inplace=True)
OISP.rename(columns={"Charged_Weight":"Total_weight_as_per_Courier_Company_(KG)"},inplace=True)

In [38]:
OISP

,Order ID,SKU,Order Qty,AWB Code,Total_weight_as_per_Courier_Company_(KG),Company_Warehouse_Pincode,Company_Customer_Pincode,Delivery_Zone_charged_by_Courier_Company,Type of Shipment,Billing Amount (Rs.),Weight_(g),X_Warehouse_Pincode,Delivery_Zone_as_per_X
0,2001806232,8904223818645,6.0,1091117222124,1.3,121003,507101,d,Forward charges,135.0,137,121003,d
1,2001806232,8904223819147,2.0,1091117222124,1.3,121003,507101,d,Forward charges,135.0,240,121003,d
2,2001806273,8904223819017,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2,115,121003,d
3,2001806273,8904223818706,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2,127,121003,d
4,2001806273,8904223818942,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2,133,121003,d
...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,2001809383,8904223818706,1.0,1091117614452,0.5,121003,303702,d,Forward and RTO charges,86.7,127,121003,b
563,2001809383,8904223818850,1.0,1091117614452,0.5,121003,303702,d,Forward and RTO charges,86.7,240,121003,b
564,2001809383,8904223819468,1.0,1091117614452,0.5,121003,303702,d,Forward and RTO charges,86.7,240,121003,b
565,2001820978,8904223815859,1.0,1091120922803,0.5,121003,313301,d,Forward charges,45.4,165,121003,b
566,2001820978,8904223817501,1.0,1091120922803,0.5,121003,313301,d,Forward charges,45.4,350,121003,b

In [39]:
OISP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 13 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Order ID                                  567 non-null    int64
 1   SKU                                       567 non-null    object
 2   Order Qty                                 567 non-null    float64
 3   AWB Code                                  567 non-null    int64
 4   Total_weight_as_per_Courier_Company_(KG)  567 non-null    float64
 5   Company_Warehouse_Pincode                 567 non-null    int64
 6   Company_Customer_Pincode                  567 non-null    int64
 7   Delivery_Zone_charged_by_Courier_Company  567 non-null    object
 8   Type of Shipment                          567 non-null    object
 9   Billing Amount (Rs.)                      567 non-null    float64
 10  Weight_(g)                                567 non-null    int64
 11  X_Warehouse_Pincode                       567 non-null    int64
 12  Delivery_Zone_as_per_X                    567 non-null    object
dtypes: float64(3), int64(6), object(4)
memory usage: 57.7+ KB

In [43]:
Value = OISP["Total_weight_as_per_X(g)"]=OISP["Order Qty"]*OISP["Weight_(g)"]
Value

0      822.0
1      480.0
2      115.0
3      127.0
4      133.0
       ...
562    127.0
563    240.0
564    240.0
565    165.0
566    350.0
Length: 567, dtype: float64

In [45]:
OISP["Total_weight_as_per_X(Kg)"]=OISP["Total_weight_as_per_X(g)"]/1000

In [46]:
OISP

,Order ID,SKU,Order Qty,AWB Code,Total_weight_as_per_Courier_Company_(KG),Company_Warehouse_Pincode,Company_Customer_Pincode,Delivery_Zone_charged_by_Courier_Company,Type of Shipment,Billing Amount (Rs.),Weight_(g),X_Warehouse_Pincode,Delivery_Zone_as_per_X,Total_weight_as_per_X(g),Total_weight_as_per_X(Kg)
0,2001806232,8904223818645,6.0,1091117222124,1.3,121003,507101,d,Forward charges,135.0,137,121003,d,822.0,0.822
1,2001806232,8904223819147,2.0,1091117222124,1.3,121003,507101,d,Forward charges,135.0,240,121003,d,480.0,0.480
2,2001806273,8904223819017,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2,115,121003,d,115.0,0.115
3,2001806273,8904223818706,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2,127,121003,d,127.0,0.127
4,2001806273,8904223818942,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2,133,121003,d,133.0,0.133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,2001809383,8904223818706,1.0,1091117614452,0.5,121003,303702,d,Forward and RTO charges,86.7,127,121003,b,127.0,0.127
563,2001809383,8904223818850,1.0,1091117614452,0.5,121003,303702,d,Forward and RTO charges,86.7,240,121003,b,240.0,0.240
564,2001809383,8904223819468,1.0,1091117614452,0.5,121003,303702,d,Forward and RTO charges,86.7,240,121003,b,240.0,0.240
565,2001820978,8904223815859,1.0,1091120922803,0.5,121003,313301,d,Forward charges,45.4,165,121003,b,165.0,0.165
566,2001820978,8904223817501,1.0,1091120922803,0.5,121003,313301,d,Forward charges,45.4,350,121003,b,350.0,0.350

In [47]:
condition=[(OISP["Total_weight_as_per_X(Kg)"]<=0.500),
          (OISP["Total_weight_as_per_X(Kg)"]>0.500)&(OISP["Total_weight_as_per_X(Kg)"]<=1),
          (OISP["Total_weight_as_per_X(Kg)"]>1)&(OISP["Total_weight_as_per_X(Kg)"]<=1.5),
          (OISP["Total_weight_as_per_X(Kg)"]>1.5)&(OISP["Total_weight_as_per_X(Kg)"]<=2),
          (OISP["Total_weight_as_per_X(Kg)"]>2)&(OISP["Total_weight_as_per_X(Kg)"]<=2.5),
          (OISP["Total_weight_as_per_X(Kg)"]>2.5)&(OISP["Total_weight_as_per_X(Kg)"]<=3),
          (OISP["Total_weight_as_per_X(Kg)"]>3)&(OISP["Total_weight_as_per_X(Kg)"]<=3.5),
          (OISP["Total_weight_as_per_X(Kg)"]>3.5)&(OISP["Total_weight_as_per_X(Kg)"]<=4)]

In [48]:
value=[0.5,1,1.5,2,2.5,3,3.5,4]
OISP["Weight_slab_as_per_X_(KG)"]=np.select(condition,value)

In [49]:
OISP

,Order ID,SKU,Order Qty,AWB Code,Total_weight_as_per_Courier_Company_(KG),Company_Warehouse_Pincode,Company_Customer_Pincode,Delivery_Zone_charged_by_Courier_Company,Type of Shipment,Billing Amount (Rs.),Weight_(g),X_Warehouse_Pincode,Delivery_Zone_as_per_X,Total_weight_as_per_X(g),Total_weight_as_per_X(Kg),Weight_slab_as_per_X_(KG)
0,2001806232,8904223818645,6.0,1091117222124,1.3,121003,507101,d,Forward charges,135.0,137,121003,d,822.0,0.822,1.0
1,2001806232,8904223819147,2.0,1091117222124,1.3,121003,507101,d,Forward charges,135.0,240,121003,d,480.0,0.480,0.5
2,2001806273,8904223819017,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2,115,121003,d,115.0,0.115,0.5
3,2001806273,8904223818706,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2,127,121003,d,127.0,0.127,0.5
4,2001806273,8904223818942,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2,133,121003,d,133.0,0.133,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,2001809383,8904223818706,1.0,1091117614452,0.5,121003,303702,d,Forward and RTO charges,86.7,127,121003,b,127.0,0.127,0.5
563,2001809383,8904223818850,1.0,1091117614452,0.5,121003,303702,d,Forward and RTO charges,86.7,240,121003,b,240.0,0.240,0.5
564,2001809383,8904223819468,1.0,1091117614452,0.5,121003,303702,d,Forward and RTO charges,86.7,240,121003,b,240.0,0.240,0.5
565,2001820978,8904223815859,1.0,1091120922803,0.5,121003,313301,d,Forward charges,45.4,165,121003,b,165.0,0.165,0.5
566,2001820978,8904223817501,1.0,1091120922803,0.5,121003,313301,d,Forward charges,45.4,350,121003,b,350.0,0.350,0.5

In [50]:
conditions=[(OISP["Total_weight_as_per_Courier_Company_(KG)"]<=0.500),
          (OISP["Total_weight_as_per_Courier_Company_(KG)"]>0.500)&(OISP["Total_weight_as_per_Courier_Company_(KG)"]<=1),
          (OISP["Total_weight_as_per_Courier_Company_(KG)"]>1)&(OISP["Total_weight_as_per_Courier_Company_(KG)"]<=1.5),
          (OISP["Total_weight_as_per_Courier_Company_(KG)"]>1.5)&(OISP["Total_weight_as_per_Courier_Company_(KG)"]<=2),
          (OISP["Total_weight_as_per_Courier_Company_(KG)"]>2)&(OISP["Total_weight_as_per_Courier_Company_(KG)"]<=2.5),
          (OISP["Total_weight_as_per_Courier_Company_(KG)"]>2.5)&(OISP["Total_weight_as_per_Courier_Company_(KG)"]<=3),
          (OISP["Total_weight_as_per_Courier_Company_(KG)"]>3)&(OISP["Total_weight_as_per_Courier_Company_(KG)"]<=3.5),
          (OISP["Total_weight_as_per_Courier_Company_(KG)"]>3.5)&(OISP["Total_weight_as_per_Courier_Company_(KG)"]<=4)]

In [52]:
value=[0.5,1,1.5,2,2.5,3,3.5,4]
OISP["Weight_slab_charged_by_Courier_Company_(KG)"]=np.select(conditions,value)

In [53]:
OISP

,Order ID,SKU,Order Qty,AWB Code,Total_weight_as_per_Courier_Company_(KG),Company_Warehouse_Pincode,Company_Customer_Pincode,Delivery_Zone_charged_by_Courier_Company,Type of Shipment,Billing Amount (Rs.),Weight_(g),X_Warehouse_Pincode,Delivery_Zone_as_per_X,Total_weight_as_per_X(g),Total_weight_as_per_X(Kg),Weight_slab_as_per_X_(KG),Weight_slab_charged_by_Courier_Company_(KG)
0,2001806232,8904223818645,6.0,1091117222124,1.3,121003,507101,d,Forward charges,135.0,137,121003,d,822.0,0.822,1.0,1.5
1,2001806232,8904223819147,2.0,1091117222124,1.3,121003,507101,d,Forward charges,135.0,240,121003,d,480.0,0.480,0.5,1.5
2,2001806273,8904223819017,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2,115,121003,d,115.0,0.115,0.5,1.0
3,2001806273,8904223818706,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2,127,121003,d,127.0,0.127,0.5,1.0
4,2001806273,8904223818942,1.0,1091117222194,1.0,121003,486886,d,Forward charges,90.2,133,121003,d,133.0,0.133,0.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,2001809383,8904223818706,1.0,1091117614452,0.5,121003,303702,d,Forward and RTO charges,86.7,127,121003,b,127.0,0.127,0.5,0.5
563,2001809383,8904223818850,1.0,1091117614452,0.5,121003,303702,d,Forward and RTO charges,86.7,240,121003,b,240.0,0.240,0.5,0.5
564,2001809383,8904223819468,1.0,1091117614452,0.5,121003,303702,d,Forward and RTO charges,86.7,240,121003,b,240.0,0.240,0.5,0.5
565,2001820978,8904223815859,1.0,1091120922803,0.5,121003,313301,d,Forward charges,45.4,165,121003,b,165.0,0.165,0.5,0.5
566,2001820978,8904223817501,1.0,1091120922803,0.5,121003,313301,d,Forward charges,45.4,350,121003,b,350.0,0.350,0.5,0.5